<ion-footer>
  <ion-toolbar>

    <ion-buttons>
      <ion-button>CHARACTERS:</ion-button>
      <ion-button>LOCATIONS:</ion-button>
      <ion-button>EPISODES:</ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button class="btn-logo" >
        <ion-button>SERVER STATUS: TRUE</ion-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>marca 1:</ion-button>
      <ion-button>marca 2:</ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>git-ub:</ion-button>
      <ion-button>twiter:</ion-button>
      <ion-button>corazon</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
